<!DOCTYPE html>
<html>
<head>
    <!-- start of    bootstrap section-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- end of     bootstrap section -->

    <!-- Para usar los iconos de google-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <title> Consultar Cuentas </title>
</head>
<body>
    <!-- start of    bootstrap section-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- end of     bootstrap section -->   

<!-- Logo y seccion de Bienvenido-->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">  </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"> 
                <i class="material-icons" style="font-size:36px; color: gray">person</i>
            </li>
            <li>
                <p class = "nav-link" style="color: white;"> {{user.first_name}} {{user.last_name}} </p>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Consultar Cuentas</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'core:mov_history' %}"> Historial de transacciones </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'core:make_transaction' %}"> Realizar Transacción </a>
            </li>
            <li class="nav-item">
                <div class = container style="padding-right: 1%;">
                    <a class="material-icons" style="font-size:36px;color: gray" href="{% url 'user:edit' %}"> settings </a>
                </div>
            </li>
            <li class="nav-item">
                <div class = container>
                    <a class="material-icons" style="font-size:36px;color: gray" href="{% url 'logout' %}"> exit_to_app </a>
                </div>
            </li>        
        </ul>
        </div>
    </div>
</nav>



<!-- FINAL DE Logo y seccion de Bienvenido-->

    <!-- Consultar Cuentas TABLA -->
    <div class="mx-auto" style="width: 1000px; padding-bottom: 5%; padding-top: 100px;" >
        <div class = "container" style="padding: 80px; border: 2px solid lightslategray; "> 
            <h1 class="display-4">Consultar Cuentas</h1>
            <hr> </hr>
            <p class="lead">
                    Estas son sus Cuentas activas en WaWaWanK. Haga click en Reporte PDF para general y descargar un Reporte
            </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Número de Cuenta</th>
                        <th scope="col">Tipo de Cuenta</th>
                        <th scope="col">Balance Disponible</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                        <tr>
                          <th scope="row">-</th>
                          <td> {{ account.NumeroCuenta }} </th>
                          <td> {{ account.Tipo }} </th>
                          <td> {{ account.Saldo }} </th>
                        </tr>
                    {% endfor %}
                </tbody>
                    <tr style="background-color:lightsteelblue;">
                        <th scope="row" colspan="3"> Total </th>
                        <td scope="col" style="text-align:right;">Balance Total</td>
                    </tr>
                    <!-- Aqui se despliegan los totales -->
                    <tr>
                        <td scope="col" colspan="4" style="text-align:right;">{{ total_balances }}</td>
                    </tr>
            </table>
            <a href="{% url 'get-pdf-consulta' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> 
                <i class="material-icons" style="font-size:20px;color:white">file_download </i> Reporte PDF </a>
        </div>
    </div>
    <!-- FINAL de Consultar Cuentas TABLA -->

    <!-- Footer -->
    <footer class="page-footer font-small black">
        <div background-color = "blue">
        <!-- Copyright -->
        <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>© All Rights Reserved by WaWaWanK</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        </div>
    </footer>
      <!-- Footer -->

</body>
</html>
