{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Edit Profile info - {{ block.super }} {% endblock title %}

{% block body %}
  <h1>Edit Profile info </h1>
  {% if msg %}
    <div class="alert {% if msg_type == 'SUCCESS' %} alert-success {% else %} alert-danger {% endif %}" role="alert">{{ msg }}</div>
  {% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    {{user_form|crispy}}
    {{profile_form|crispy}}

    <strong>Type password to confirm</strong>
    {{password_form|crispy}}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock body %}
